@font-face {
    font-family: 'bootstrap-icons';
    src: url('../fonts/bootstrap-icons.woff'), url('../fonts/bootstrap-icons.woff2');
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}
.navsection{
    background: linear-gradient(90deg, rgba(42,40,40,1) 9%, rgba(56,9,65,1) 21%, rgba(0,0,0,1) 49%, rgba(0,1,6,1) 54%, rgba(2,8,45,1) 84%);

}
.btnnav{
    background-color: #2c2c2b;
    color: white;
    border: none;
}
.section1{
    background: rgb(42,40,40);
    background: linear-gradient(90deg, rgba(42,40,40,1) 9%, rgba(56,9,65,1) 21%, rgba(0,0,0,1) 49%, rgba(0,1,6,1) 54%, rgba(2,8,45,1) 84%);
}
.grow{
    color: #f0b38c;
}
.coach{
    color: #afd7b3;

}
.div1 p , .wcoach{
    font-size: 80px;
    font-weight: 800;
   
    
}
.div1{
    text-align: center;
} 
.row1{
    text-align: center;
}
.btn{
    border-radius: 40px;
}
.btnG{
    background-color: #afd7b3;
    
}
.section2{
    background-color: #1a1a1a;
    border: 1px solid white;
}
.scroll h6{
    text-align: center;
}
.trusted h2{
    font-weight: 800;
    font-size: 2.3em;
}
.section3{
    background-color: #afd7b3;
    height: 450px;
}
.etoile{
    text-align: center;
}
.satisfaction{
    font-weight: 800;
}
.containerwhite{
    text-align: center;
    height: 300px;
}
.containerwhite p{
    text-align: inherit;
    margin-left: 240px;
    margin-top: 100px;
}
.coachesheader{
    text-align: center;
    padding-left: 250px;
    padding-top: 100px;
}
.card1{
    background-color: #ceefd0;
    border-radius: 10px;
}
.card1 h3,.card2 h3, .card3 h3,.card4 h3{
    font-weight: 600;
}

.card2{
    background-color: #f0b38c;
    border-radius: 10px;
}
.card3{
    background-color: #ffe1e1;
    border-radius: 10px;
}
.card4{
    background-color: #b9c2f1;
    border-radius: 10px;
}
.quote{
    text-align: center;
    font-size: 27px;
    margin-top: 50px;
    margin-left: 100px;
}
.quotefoot{
    text-align: center;
    margin-top: 30px;
}
.footer{
    background-color: #f0b38c;
}
.list ul li a{
    display: block;
    text-decoration: none;
    color: #1a1a1a;
}
.list h4 , .question{
    font-weight: 700;
}
.social a{
    display: inline;
    text-decoration: none;
    color: #1a1a1a;
}
